In [41]:
import pandas as pd  

경빈_1 = pd.read_csv('경빈_1.csv')[:-4]
display(경빈_1.head(3))
경빈_1['관측일'].unique()


경빈_2 = pd.read_csv('경빈_1.csv')[:-4]
display(경빈_1.head(3))
경빈_2['관측일'].unique()

경빈_3 = pd.read_csv('경빈_3.csv')[:-4]
display(경빈_1.head(3))
경빈_3['관측일'].unique()

  관측일    1월    2월    3월    4월    5월    6월    7월    8월     9월   10월   11월   12월
0  01  0.07  0.87  0.63  0.26  0.22  0.26  2.80  7.01   1.41  0.26  0.18  0.18
1  02  0.05  0.74  0.54  0.23  0.22  0.28  1.38  3.62   3.89  0.26  0.18  0.18
2  03  0.07  0.63  0.49  0.18  0.27  0.26  1.03  2.20  97.15  0.26  0.18  0.18

  관측일    1월    2월    3월    4월    5월    6월    7월    8월     9월   10월   11월   12월
0  01  0.07  0.87  0.63  0.26  0.22  0.26  2.80  7.01   1.41  0.26  0.18  0.18
1  02  0.05  0.74  0.54  0.23  0.22  0.28  1.38  3.62   3.89  0.26  0.18  0.18
2  03  0.07  0.63  0.49  0.18  0.27  0.26  1.03  2.20  97.15  0.26  0.18  0.18

  관측일    1월    2월    3월    4월    5월    6월    7월    8월     9월   10월   11월   12월
0  01  0.07  0.87  0.63  0.26  0.22  0.26  2.80  7.01   1.41  0.26  0.18  0.18
1  02  0.05  0.74  0.54  0.23  0.22  0.28  1.38  3.62   3.89  0.26  0.18  0.18
2  03  0.07  0.63  0.49  0.18  0.27  0.26  1.03  2.20  97.15  0.26  0.18  0.18

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31'], dtype=object)

In [51]:
df_2020 = pd.melt(경빈_1,
                    id_vars=['관측일'],
                    value_vars=['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'])
df_2021 = pd.melt(경빈_2,
                    id_vars=['관측일'],
                    value_vars=['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'])
df_2022 = pd.melt(경빈_3,
                    id_vars=['관측일'],
                    value_vars=['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'])

def 월제거(month):
    
    month = month.replace('월','')
    if len(month) == 1:
        month = '0' + month
    return month.replace('월','')

df_2020['variable'] =df_2020['variable'].map(월제거)
df_2021['variable'] =df_2021['variable'].map(월제거)
df_2022['variable'] =df_2022['variable'].map(월제거)

df_2020['년월일'] = '2020' + df_2020['variable'] + df_2020['관측일']
df_2021['년월일'] = '2021' + df_2020['variable'] + df_2020['관측일']
df_2022['년월일'] = '2022' + df_2020['variable'] + df_2020['관측일']

df_2020 = df_2020.drop(columns=['관측일', 'variable'])
df_2021 = df_2021.drop(columns=['관측일', 'variable'])
df_2022 = df_2022.drop(columns=['관측일', 'variable'])

df_2020 = df_2020[['년월일', 'value']]
df_2021 = df_2021[['년월일', 'value']]
df_2022 = df_2022[['년월일', 'value']]

df_2020 = df_2020.dropna()
df_2021 = df_2021.dropna()
df_2022 = df_2022.dropna()

df_2020[['년월일', 'value']].to_excel('경빈_2020.xlsx')
df_2021[['년월일', 'value']].to_excel('경빈_2021.xlsx')
df_2022[['년월일', 'value']].to_excel('경빈_2022.xlsx')